.right-side-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-shelf {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px #d0d0d0 solid;
}

.header {
    width: 100%;
    padding-bottom: 2px;
    text-align: center;
    color: #d0d0d0;
}

.item-container {
    flex: 2;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.shelf-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    transform: translateY(0);
    color: #d0d0d0;
    font-size: 20px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.shelf-item i {
    margin-bottom: 7px;
}

.desktop-name {
    font-size: 1.4rem;
}

.ip {
    font-size: 0.9rem;
}

.shelf-item:hover {
    background-color: #8b5cf6;
    color: #151921;
    animation: bounce 0.7s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    50% {
        transform: translateY(-2px);
        animation-timing-function: ease-in;        
    }
}

.bottom-shelf {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.search-row {
    margin: 10px 0 10px auto;
    display: flex;
    align-items: center;
    width: fit-content;
    border: 1px #d0d0d0 solid;
}

.search-bar {
    border: none;
    padding: 5px;
    background-color: #151921;
    color: #d0d0d0;
}

.search-bar:focus {
    outline: none;
}

.search-btn {
    border: none;
    padding: 6px;
    background-color: #151921;
    color: #d0d0d0;
    border-left: 1px #d0d0d0 solid;
}

.scrollable-area {
    min-height: 0;
    overflow-y: auto;
    flex-direction: column;
    padding: 0 10px 5px 5px;
}

.scrollable-area::-webkit-scrollbar {
    width: 5px;
}

.scrollable-area::-webkit-scrollbar-track {
    border-radius: 10px;
}

.scrollable-area::-webkit-scrollbar-thumb {
    background: #d0d0d0;
    border-radius: 10px;
}

.bottom-shelf-row {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px 0;
}

.bottom-shelf-row:first-child {
    margin-top: 2px;
}