.credential-editor-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-editor {
    flex-grow: 1;
    padding: 10px 10px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container {
    width: 1000px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 10px;
}

.credentials-form {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.form-label {
    color: #fff;
    font-size: 20px;
}

.form-input {
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    border: none;
}

.bottom-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
}

.form-msg-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.form-msg {
    font-size: 20px;
}

.button-row {
    display: flex;
    justify-content: end;
}

.form-btn {
    height: max-content;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.submit-btn {
    background-color: #2ecc71;
}

.submit-btn:hover {
    background-color: color-mix(in srgb, #2ecc71, black 20%);
}