.right-side-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shelf {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px #d0d0d0 solid;
}

.header {
    width: 100%;
    padding-bottom: 2px;
    text-align: center;
    color: #d0d0d0;
}

.scrollable-area {
    min-height: 0;
    overflow-y: auto;
    flex-direction: column;
    padding: 10px 10px 5px 5px;
}

.scrollable-area::-webkit-scrollbar {
    width: 5px;
}

.scrollable-area::-webkit-scrollbar-track {
    border-radius: 10px;
}

.scrollable-area::-webkit-scrollbar-thumb {
    background: #d0d0d0;
    border-radius: 10px;
}

.shelf-row {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.shelf-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    transform: translateY(0);
    color: #d0d0d0;
    font-size: 20px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.shelf-item i {
    margin-bottom: 7px;
}

.laptop-name {
    font-size: 1.4rem;
}

.ip {
    font-size: 0.9rem;
}

.shelf-item:hover {
    background-color: #8b5cf6;
    color: #151921;
    animation: bounce 0.7s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    50% {
        transform: translateY(-2px);
        animation-timing-function: ease-in;        
    }
}