* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/img/login_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.log-in-container {
    width: 320px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slideDown 0.5s ease-out;
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.main-log-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-logo {
    border-radius: 18px;
}

@keyframes slideDown {
    from {transform: translateY(-50px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}

.title-container {
    flex: 1;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #d0d0d0;
    font-size: 1.2rem;
    text-align: center;
}

form {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    margin: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.form-label {
    color: #d0d0d0;
    font-size: 18px;
    margin-right: 15px;
}

.form-input {
    width: 100%;
    height: 30px;
    padding-left: 7px;
    margin-right: 7px;
}

.btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
    color: #d0d0d0;
    background-color: #0b0e14;
    border: none;
    cursor: pointer;
}