* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NexaBook';
    src: url('../assets/fonts/nexa/Nexa-Book.woff2') format('woff2'),
         url('../assets/fonts/nexa/Nexa-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0b0e14;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 98%;
    min-height: 630px;
    max-height: 630px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-panel {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'NexaBook', Arial, sans-serif;
}

.nav-panel-header {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-panel-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-panel-item a {
    text-decoration: none;
    color: #d0d0d0;
    display: flex;
    gap: 6px;
}

.filler-div {
    height: 50px;
}

.company-logo {
    width: auto;
    height: 75px;
    border-radius: 15px;
}

.right-side-container {
    height: 100%;
    padding: 15px;
    flex: 5;
}

.content-container {
    background-color: #151921;
    border-radius: 12px;
}

.active {
    padding-bottom: 3px;
    border-bottom: 0.3px #d0d0d0 solid;
    font-size: 1.1rem;
    font-weight: 900;
}